<div class="jumbotron jumbo-main-content">
  <h1>New Channel</h1>
  <br>
  <%= render 'form', channel: @channel %>

  &nbsp&nbsp&nbsp&nbsp<%= link_to 'Back', channels_path, class: 'btn btn-primary' %>
</div>