<br>
<div class="jumbotron jumbo-main-content">
  <h1>Editing Impressum</h1>
  <br>
  <%= render 'form', impressum: @impressum %>

  &nbsp&nbsp&nbsp&nbsp<%= link_to 'Show', @impressum, class:'btn btn-primary' %>
  <%= link_to 'Back', impressums_path, class: 'btn btn-default' %>
</div>