<div class="jumbotron jumbo-main-content">
  <h1>Editing Group Message</h1>

  <%= render 'form', group_message: @group_message %>

  <%= link_to 'Show', @group_message, class: 'btn btn-default' %>
  <%= link_to 'Back', group_messages_path, class: 'btn btn-primary' %>
</div>