<br>
<div class="jumbotron jumbo-main-content">
  <h1>New Group Message</h1>
  <%= render 'form_create', group_message: @group_message %>

  <%= link_to 'Back', group_messages_path, class: 'btn  btn-primary' %>
</div>