<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">
  <h1>Blogs</h1>
  <br>
  <p>Blocktext
  </p>
  <br>
  <br>
  <p>Blocktext, BlocktextBlocktext
    BlocktextBlocktextBlocktextBlocktextBlocktext..........<br>
  </p>

  <br>
  <p>BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......</p>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
window.onload = function() {
document.getElementById('blog').className = 'active';
};
</script>
