<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>
  <h1>Blogs</h1>
  <br>
  <p>Blocktext
  </p>
  <br>
  <br>
  <p>Blocktext, BlocktextBlocktext
    BlocktextBlocktextBlocktextBlocktextBlocktext..........<br>
  </p>

  <br>
  <p>BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......
    BlocktextBlocktextBlocktextBlocktextBlocktext.......</p>
  <br>
  <br>
  <br>
  <br>
</div>

<script>
window.onload = function() {
document.getElementById('blog').className = 'active';
};
</script>
