<br>
<div class="jumbotron jumbo-main-content">
  <h1>New Group Comment</h1>

  <%= render 'form', group_comment: @group_comment %>
  <%= link_to 'Back', group_comments_path, class: 'btn btn-primary' %>
</div>