<div class="jumbotron jumbo-main-content">
  <h1>Editing Company</h1>
  <br>
  <%= render 'form', company: @company %>

  <%= link_to 'Show', @company, class: 'btn btn-primary' %>
  <%= link_to 'Back', companies_path, class: 'btn btn-default' %>
</div>