

//@import "bootstrap";

//Tabs

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 7px;
  transition: 0.3s;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 15px;
  height: 40px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

//end Tabs


//Sidenav hovering
.messages:hover{
  cursor: pointer;
}
.groups:hover{
  cursor: pointer;
}

.btn-black{
  color: #000;
}

.btn-red{
  color: red;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #000000;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.jumbo-main-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
  //background: transparent !important;
}

.jumbo-signin {
  padding-bottom: 35px;
  padding-top: 35px;
}

#CCC {
  text-align: center;
}

.user-link {
  color: #000000;
}

.new-message {
  background-color: red !important;
}

.middleNav {
  background: #fff;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header_top {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

h1 {
  text-align: center;
}

.row.content {
  height: 140px;
}

.row.main-content {
  height: 1500px;
  margin-top: 140px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.jumbo-content {
  padding-top: 0px;
  background: transparent !important;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

