<br>
<div class="jumbotron jumbo-main-content">

  <h1>Editing Copyrigth</h1>
  <br>
  <%= render 'form', copyrigth: @copyrigth %>

  &nbsp&nbsp&nbsp&nbsp<%= link_to 'Back', copyrigths_path, class:'btn btn-default'%>
</div>