<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

<p>
  <strong>Copyright:</strong>
  ©<%= @copyrigth.content %>
</p>

<%= link_to 'Edit', edit_copyrigth_path(@copyrigth), class:'btn btn-primary'%>
<%= link_to 'Back', copyrigths_path, class:'btn btn-default' %>
</div>